@font-face {
	font-family: oxymono;
	src: url('OxygenMono-Regular.otf');
}

:root {
    --color-primary: #aa0;
    --color-secondary: #884;
    --color-terciary: #040;
}

main {
    margin: auto;
    padding-top: 5px;
	border: 1px solid black;
	border-radius: 25px 20px 15px 10px;
	max-width: 320px;
	max-height: 600px;
	
	background-image: linear-gradient(35deg, var(--color-primary), var(--color-secondary));
	box-shadow: 1px 2px 2px var(--color-terciary);
}

#display {
    --square-size: calc(100% - 10px);
    margin: auto;
    position: relative;
    width: var(--square-size);
    padding-bottom: var(--square-size);
    border: 1px solid black;
    border-radius: 100%;
    
    background-image: linear-gradient(35deg, var(--color-primary), var(--color-secondary));
	box-shadow: inset 1px 2px 2px var(--color-terciary);
}

#d-main {
    --font-size: 64px;
    
    font-family: oxymono;
    font-size: var(--font-size);
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-item: center;
    width: 100%;
    padding-top: calc( 50% - var(--font-size) / 2);
    
    color: var(--color-terciary);
    text-shadow: 1px 1px 0 black, -1px -1px 0 white;
}

#d-main small {
    font-size: 0.33em;
    display: flex;
    align-items: end;
    padding: 0;
    margin: 0;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px 0;
}

.btn {
    font-family: monospace;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--color-secondary);
    color: var(--color-terciary);
}

.btn:active:not([disabled]) {
    background-color: var(--color-terciary);
    color: var(--color-secondary);
}

.btn[disabled] {
    opacity: 0.5;
}

.hide {
    display: none;
}

.popup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 5px;
    width: 70vw;
    background-color: #ff7;
    padding: 10px;
    border: 1px solid #cc7;
    border-radius: 5px;
}